body {

}

h1 {
    font-weight: 900;
    color: rgb(21, 73, 153);
}

h2 {
    font-weight: 700;
}

ol.breadcrumb {
    background-color: rgb(21, 73, 153);
    margin: 0em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 4px;
}

.breadcrumb-item.active {
    color: white;
}

.breadcrumb-item.active {
    color: white;
    text-decoration: none;
}

.content {
    background-color: #fff;
}

.front-img {
    max-width: 800px;
    max-height: 600px;
}

iframe.gs-aframe {
    overscroll-behavior: contain;
}

.footer__logo {
    max-width: 22rem;
    padding: 8px;
}

.gs-footer {
    background-color: rgb(21, 73, 153);
}
