<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ block "title" . }}
            {{ .Site.Title }}
            {{ end }}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


        <title>Greek Streets</title>

        <style type="text/css">
        .front-img {
            max-width: 800px;
            max-height: 600px;
        }
        iframe.gs-aframe {
            overscroll-behavior: contain;
        }
        </style>
    </head>
    <body>
        {{ partial "header.html" . }}
        <!-- Code that all your templates share, like a header -->
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}
    </body>
</html>
