{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main class="container" id="maincontent">
    {{ partial "breadcrumbs.html" . }}

    <article class="row entry-body">
        <header class="col-lg-10 offset-lg-1 entry-header">
            {{ if .Params.poster }}
            <figure aria-label="PosterImage" role="group">
                <img src="{{ .Site.BaseURL }}img/assets/{{ .Params.poster }}" class="img-fluid" alt="Poster image for this article" />
                {{ if .Params.poster_source }}
                <figcaption class="poster-source">
                    <span class="img-attr">Source:
                        {{ if .Params.poster_sourceurl }}
                        <a href="{{ .Params.poster_sourceurl }}" target="_blank" rel="noopener noreferrer">{{ .Params.poster_source }}</a>
                        {{ else }}
                        {{ .Params.poster_source }}
                        {{ end }}
                    </span>
                </figcaption>
                {{ end }}
            </figure>
            {{ end }}
            <h1 class="entry-title" itemprop="headline">
                {{ .Title }}
            </h1>
        </header>
        <div class="col-lg-10 offset-lg-1 entry-content-col">
            <div class="entry-content">
                {{ .Content }}
            </div>

            <div class="ratio ratio-16x9">
                <iframe class="gs-aframe"  title="360 Video" allowfullscreen src="/aframes/{{ .Params.slug }}/"></iframe>
            </div>

            <p class="d-none d-print-block article-url-print">Printed from: {{ .Permalink }}</p>
        </div>
    </article>
</main>
{{ end }}
