<footer class="py-3 mt-4 gs-footer">
    <div class="container text-light">

        <div class="row my-5">
            <div class="col">
                <div itemscope itemtype="http://schema.org/EducationalOrganization"
                     class="text-center">
                    <a href="https://ctl.columbia.edu"
                       rel="noopener noreferrer" target="_blank"
                       itemprop="url">
                        <img src="/logo-ctl-white.svg"
                             class="footer__logo img-fluid"
                             alt="Logo for Columbia Center for Teaching and Learning"
                             itemprop="logo" />
                        <span class="visually-hidden" itemprop="name">
                            Center for Teaching and Learning at Columbia University
                        </span>
                    </a>
                </div>
            </div>


            <div class="col">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                    <img alt="Creative Commons License"
                         class="mb-1"
                         style="border-width:0"
                         src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
                </a>
                <br />
                This work is licensed under a
                <a rel="license"
                   class="link-light"
                   href="http://creativecommons.org/licenses/by-nc/4.0/">
                    Creative
                    Commons Attribution-NonCommercial 4.0 International
                    License
                </a>.
            </div>
        </div>

    </div>
</footer>
