<!doctype html>
<html lang="en">
    {{ partial "head.html" . }}
    <body itemscope itemtype="http://schema.org/Blog">
        {{ partial "header.html" . }}

        <main class="container" id="maincontent" aria-label="List of latest and recent articles">

            <section class="latest-post" aria-labelledby="sectionlatest">
                <article itemscope itemtype="http://http://schema.org/BlogPosting">
                    {{ range first 1 ( where .Site.Pages "Type" "post" ) }}
                    <div class="row">
                        <div class="col-lg-7">
                            <figure aria-hidden="true">
                                <img src="{{ .Site.BaseURL }}img/assets/{{ .Params.hiliteimg }}" aria-hidden="true" alt="" class="img-fluid" />
                            </figure>
                        </div>
                        <div class="col-lg-5">
                            <h2 id="sectionlatest">Latest article</h2>
                            <h3 id="{{ .UniqueID }}"><a href="{{ .URL }}" itemprop="url"><span itemprop="headline">{{ .Title }}</span></a></h3>
                            <p class="post-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">By
                                {{ range $i, $e := .Params.authors }}{{if $i}}, {{end}}<a href='{{ "/authors/" | relLangURL }}{{ . | urlize }}' itemprop="url"><span itemprop="name">{{ (index $.Site.Data.authors $e).name }}</span></a>{{ end }}
                            </p>
                            <time itemprop="datePublished" datetime='{{ .Date.Format "2006-01-02"  }}' class="post-datepublished">{{ .Date.Format "Jan 2, 2006" }}</time>
                            <p>{{ if .Params.shortlede }}
                                {{ .Params.shortlede }}
                                {{ else if .Params.lede }}
                                {{ .Params.lede }}
                                {{ else }}
                                {{ .Summary  }}
                                {{ end }}</p>
                            {{ if .Params.tags }}<p class="post-tags"><strong>Tags:</strong>
                                {{ range $i, $e := .Params.tags }}{{if $i}}, {{end}}
                                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize | lower }}" rel="tag"><span itemprop="keywords">{{$e}}</span></a>{{ end }}
                            </p>{{ end }}
                            <a href='{{ .URL }}' class="read-prompt" aria-labelledby="{{ .UniqueID }}">Read article <i class="fas fa-chevron-circle-right ml-2" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    {{ end }}
                </article>
            </section>
        </main>
    </body>
</html>
