<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        <style type="text/css">
            #gs-logo {
                position: absolute;
                left: 10px;
                top: 20px;
                z-index: 9;
            }

            .bi {
                font-size: 2rem;
            }

            .a-enter-vr {
                display: none;
            }

            .gs-bottom-toolbar {
                position: absolute;
                left: 16px;
                bottom: 16px;
                width: 100%;
            }

            .gs-right-toolbar {
                position: absolute;
                right: 16px;
                top: 16px;
            }

            #gs-video-range {
                padding-right: 34px;
            }
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

        <script src="https://aframe.io/releases/1.3.0/aframe.js"></script>
        <script src="/js/main.js"></script>

                <!-- Image link template to be reused. -->
        <script id="link" type="text/html">
            <a-entity class="link"
                      geometry="primitive: plane; height: 1; width: 1"
                      material="shader: flat; src: ${thumb}"
                      event-set__mouseenter="scale: 1.2 1.2 1"
                      event-set__mouseleave="scale: 1 1 1"
                      event-set__click="_target: #image-360; _delay: 300; material.src: ${src}"
                      proxy-event="event: click; to: #image-360; as: fade"
                      sound="on: click; src: #click-sound"></a-entity>
        </script>
    </head>

    <body id="aframe-body">

        <img width="220" height="80" id="gs-logo" src="/logo-test.svg" />

        <a-scene
            video="activeVideo: mainVideo"
            raycaster="objects: [data-raycastable]"
            device-orientation-permission-ui="enabled: false">
            <a-entity cursor="rayOrigin: mouse; mouseCursorStylesEnabled: false; fuse: false"></a-entity>

            <a-assets>
                <video id="mainVideo" preload="auto"
                       src="{{ .Params.vidSrc }}"
                       width="160" height="90" loop="true"
                       crossOrigin="anonymous"></video>

                <img id="hotspot-icon" src="/camera-fill.svg" />

                <a-mixin id="frame"
                         geometry="primitive: circle; width: 1.5; height: 1.5"
                         material="color: yellow; shader: flat"
                         animation__scale="property: scale; to: 1.2 1.2 1.2; dur: 200; startEvents: mouseenter"
                         animation__scale_reverse="property: scale; to: 1 1 1; dur: 200; startEvents: mouseleave"></a-mixin>
                <a-mixin id="poster"
                         geometry="primitive: plane; width: 1.2; height: 1.2"
                         material="color: yellow; shader: flat"
                         position="0 0 0.005"></a-mixin>
            </a-assets>

            {{ range .Params.hotspots }}
            <a-entity
                cursor-listener
                id="hotspot-{{ .id }}"
                class="gs-hotspot raycastable"
                visible="true"
                position="{{ range .position }} {{.}} {{ end }}"
                rotation="{{ range .rotation }} {{.}} {{ end }}">

                <a-entity
                    position="0 3 0"
                    geometry="primitive: plane; width: 8; height: auto"
                    material="color: #000000"
                    text="color: white; align: center;
                              wrap-count: 10;
                              value: {{ .title }}">
                </a-entity>

                <a-entity class="menu-button" mixin="frame">
                    <a-entity
                        material="src: #hotspot-icon;"
                        mixin="poster">
                    </a-entity>
                </a-entity>
            </a-entity>
            {{ end }}

            <a-videosphere
                video="src: mainVideo; active: true"
                id="mainVideo-sphere"
                src="#mainVideo"></a-videosphere>

            <a-camera wasd-controls-enabled="false"
                      id="aframe-cam">
                <a-cursor></a-cursor>
            </a-camera>
        </a-scene>

        <div class="gs-bottom-toolbar">
            <div class="row align-items-center">
                <div class="col-4">
                    
                </div>
                <div class="col-4 text-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-lg btn-dark"
                                id="play-pause-button"
                                name="play" title="Play">
                            <i class="bi bi-play"></i>
                        </button>
                        <div class="gs-timecode text-light bg-dark p-1 ms-2 rounded">
                            <span id="gs-currenttime">00:00</span> / <span id="gs-duration">00:00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <input type="range" class="form-range" id="gs-video-range"
                           value="0" min="0" max="100" step="0.1" />
                </div>
            </div>
        </div>

        <div class="gs-right-toolbar btn-group-vertical">
            <button class="btn btn-lg btn-dark" id="mute-button" name="mute" title="Mute">
                <i class="bi bi-volume-mute"></i>
            </button>

            <button class="btn btn-lg btn-dark" id="fullscreen-button" name="fullscreen" title="Enter fullscreen">
                <i class="bi bi-fullscreen"></i>
            </button>

            <button class="btn btn-lg btn-dark" id="hide-button" name="hide" title="Hide layers">
                <i class="bi bi-eye-slash"></i>
            </button>

            <button class="btn btn-lg btn-dark" id="reset-button" name="reset" title="Reset camera">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
            </button>
        </div>

        {{ range .Params.hotspots }}
        <div class="modal fade" id="gs-modal-{{ .id}}" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ if .src }}
                        <img src="{{ .src }}"
                             class="img-fluid"
                             crossorigin="anonymous" />
                        {{ end }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous"></script>
    </body>
</html>
