<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.js" integrity="sha512-i5q29evO2Z4FHGCO+d5VLrwgre/l+vaud5qsVqQbPXvHmD9obORDrPIGFpP2+ep+HY+z41kAmVFRHqQAjSROmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.css" integrity="sha512-3NbO5DhK9LuM6wu+IZvV5AYXxqSmj/lfLLmHMV9t18ij+MfmhhxeYEunHllEu+TFJ4tJM5D0DhazM2EGGGvNmQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style type="text/css">
        #gs-logo {
            position: absolute;
            left: 0;
            top: 20px;
            z-index: 9;
        }

        .bi {
            font-size: 2rem;
        }

        .a-enter-vr {
            display: none;
        }

        .gs-bottom-toolbar {
            position: absolute;
            left: 16px;
            bottom: 16px;
            width: 97%;
        }

        .gs-right-toolbar {
            position: absolute;
            right: 16px;
            top: 16px;
        }

        #gs-hotspot-flags {
            background-color: rgba(0, 0, 0, 0);
            height: 20px;
            width: 100%;
        }

        .viewer-image {
            cursor: pointer;
            max-height: 240px;
        }
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        <script src="https://aframe.io/releases/1.3.0/aframe.js"></script>

        <script>
        const GS_HOTSPOTS = [
            {{ range .Params.hotspots }}
            {
                id: {{ .id }},
                start: {{ .start }},
                end: {{ .end }}
            },
            {{ end }}
        ];
        </script>

        <script src="/js/utils.js"></script>
        <script src="/js/main.js"></script>

                <!-- Image link template to be reused. -->
        <script id="link" type="text/html">
            <a-entity class="link"
                      geometry="primitive: plane; height: 1; width: 1"
                      material="shader: flat; src: ${thumb}"
                      event-set__mouseenter="scale: 1.2 1.2 1"
                      event-set__mouseleave="scale: 1 1 1"
                      event-set__click="_target: #image-360; _delay: 300; material.src: ${src}"
                      proxy-event="event: click; to: #image-360; as: fade"
                      sound="on: click; src: #click-sound"></a-entity>
        </script>
    </head>

    <body id="aframe-body">

        <img width="220" height="80" id="gs-logo" src="/logo-test.svg" />

        <a-scene
            video="activeVideo: mainVideo"
            raycaster="objects: [data-raycastable]"
            device-orientation-permission-ui="enabled: false">
            <a-entity cursor="rayOrigin: mouse; mouseCursorStylesEnabled: false; fuse: false"></a-entity>

            <a-assets>
                <video id="mainVideo" preload="auto"
                       src="{{ .Params.vidSrc }}"
                       width="160" height="90" loop="true"
                       crossOrigin="anonymous"></video>

                <img id="hotspot-icon" src="/camera-fill.svg" />

                <a-mixin id="frame"
                         geometry="primitive: circle; width: 1.5; height: 1.5"
                         material="color: yellow; shader: flat"
                         animation__scale="property: scale; to: 1.2 1.2 1.2; dur: 200; startEvents: mouseenter"
                         animation__scale_reverse="property: scale; to: 1 1 1; dur: 200; startEvents: mouseleave"></a-mixin>
                <a-mixin id="poster"
                         geometry="primitive: plane; width: 1.2; height: 1.2"
                         material="color: yellow; shader: flat"
                         position="0 0 0.005"></a-mixin>
            </a-assets>

            {{ range .Params.hotspots }}
            <a-entity
                cursor-listener
                id="hotspot-{{ .id }}"
                data-id="{{ .id }}"
                data-start="{{ .start }}"
                data-end="{{ .end }}"
                class="gs-hotspot raycastable"
                visible="true"
                position="{{ range .position }} {{.}} {{ end }}"
                rotation="{{ range .rotation }} {{.}} {{ end }}">

                <a-entity
                    position="0 2 0"
                    geometry="primitive: plane; width: 7; height: auto"
                    material="color: #000000"
                    text="color: white; align: center;
                              wrap-count: 20;
                              value: {{ .title }}">
                </a-entity>

                <a-entity class="menu-button" mixin="frame">
                    <a-entity
                        material="src: #hotspot-icon; transparent: true;"
                        mixin="poster">
                    </a-entity>
                </a-entity>
            </a-entity>
            {{ end }}

            <a-videosphere
                video="src: mainVideo;"
                id="mainVideo-sphere"
                src="#mainVideo"></a-videosphere>

            <a-camera wasd-controls-enabled="false"
                      id="aframe-cam">
                <a-cursor></a-cursor>
            </a-camera>
        </a-scene>

        <div class="gs-bottom-toolbar">
            <div class="row align-items-center">
                <div class="col-4">

                </div>
                <div class="col-4 text-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-lg btn-dark"
                                id="play-pause-button"
                                name="play" title="Play">
                            <i class="bi bi-play"></i>
                        </button>
                        <div class="gs-timecode text-light bg-dark p-1 ms-2 rounded">
                            <span id="gs-currenttime">00:00</span> / <span id="gs-duration">00:00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <input type="range" class="form-range" id="gs-video-range"
                           value="0" min="0" max="100" step="0.1" />

                    {{ if .Params.displayHotspotsTimeFlags }}
                    <canvas height="20" width="1000" id="gs-hotspot-flags"></canvas>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="gs-right-toolbar btn-group-vertical">
            <button class="btn btn-lg btn-dark" id="mute-button" name="mute" title="Toggle audio">
                <i class="bi bi-volume-mute"></i>
            </button>

            <button class="btn btn-lg btn-dark" id="fullscreen-button" name="fullscreen" title="Toggle fullscreen">
                <i class="bi bi-fullscreen"></i>
            </button>

            <button class="btn btn-lg btn-dark" id="hide-button" name="hide" title="Toggle hotspots">
                <i class="bi bi-eye"></i>
            </button>

            <button class="btn btn-lg btn-dark" id="reset-button" name="reset" title="Reset camera">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
            </button>

            <button class="btn btn-lg btn-dark" id="zoom-in-button" name="zoom-in" title="Zoom in">
                <i class="bi bi-zoom-in"></i>
            </button>

            <button class="btn btn-lg btn-dark" id="zoom-out-button" name="zoom-out" title="Zoom out">
                <i class="bi bi-zoom-out"></i>
            </button>
        </div>

        {{ range $hotspot := .Params.hotspots }}
        <div class="modal fade" id="gs-modal-{{ .id}}" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ .title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ if reflect.IsSlice .src }}

                        <div class="text-center viewerjs-gallery">
                            {{ range $idx, $src := .src }}
                            <img src="{{ $src }}"
                                 alt="Image {{ add $idx 1 }} for {{ $hotspot.title }}"
                                 class="img-thumbnail mx-auto viewer-image" />
                            {{ end }}
                        </div>

                        {{ else if .src }}
                        <div class="text-center">
                            <img src="{{ .src }}"
                                 alt="Image for {{ .title }}"
                                 class="img-thumbnail mx-auto viewer-image viewerjs-gallery" />
                        </div>

                        {{ end }}

                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis
                            aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id
                            est laborum.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
                crossorigin="anonymous"></script>
    </body>
</html>
